.circle {
  background-color: rgb(143, 50, 230);
  border-radius: 50%;
  z-index: 5;
}

.circle1 {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 47%;
  top: -320px;
}

#scene1 {
  position: absolute;
  left: 10%;
  top: 100px;

  .circle {
    width: 100px;
    height: 100px;
  }
}

#scene2 {
  position: absolute;
  left: 80%;
  top: 500px;

  .circle {
    background-color: rgb(225, 225, 225);
    width: 500px;
    height: 500px;
  }
}

#scene3 {
  position: absolute;
  left: 65%;
  top: 1000px;

  .circle {
    width: 100px;
    height: 100px;
  }
}

#scene4 {
  position: absolute;
  left: 90%;
  top: 250px;

  .circle {
    width: 120px;
    height: 120px;
  }
}

#scene5 {
  position: absolute;
  left: 40%;
  top: 950px;

  .circle {
    width: 300px;
    height: 300px;
  }
}

#scene6 {
  position: absolute;
  left: -25%;
  top: 1250px;

  .circle {
    background-color: rgb(225, 225, 225);
    width: 700px;
    height: 700px;
  }
}

#scene7 {
  position: absolute;
  left: 12%;
  top: 1600px;

  .circle {
    width: 80px;
    height: 80px;
    z-index: 6;
  }
}

#scene8 {
  position: absolute;
  left: 80%;
  top: 500px;

  .circle {
    width: 230px;
    height: 230px;
  }
}

#scene9 {
  position: absolute;
  left: 70%;
  top: 200px;

  .circle {
    width: 50px;
    height: 50px;
  }
}

#scene10 {
  position: absolute;
  left: 55%;
  top: 520px;

  .circle {
    width: 80px;
    height: 80px;
  }
}

#scene11 {
  position: absolute;
  left: 60%;
  top: 800px;

  .circle {
    width: 80px;
    height: 80px;
    z-index: 6;
  }
}

#scene12 {
  position: absolute;
  left: 80%;
  top: -350px;

  .circle {
    background-color: rgb(225, 225, 225);
    z-index: 5;
    width: 700px;
    height: 700px;
  }
}

#scene13 {
  position: absolute;
  left: 70%;
  top: 280px;

  .circle {
    width: 130px;
    height: 130px;
  }
}

#scene14 {
  position: absolute;
  left: -5%;
  top: 110px;

  .circle {
    width: 350px;
    height: 350px;
  }
}

#scene15 {
  position: absolute;
  left: 30%;
  top: 740px;

  .circle {
    width: 50px;
    height: 50px;
  }
}

#scene16 {
  position: absolute;
  left: 2%;
  top: 830px;

  .circle {
    width: 80px;
    height: 80px;
  }
}

#scene17 {
  position: absolute;
  left: 10%;
  top: 1030px;

  .circle {
    width: 400px;
    height: 400px;
  }
}

#scene18 {
  position: absolute;
  left: 0%;
  top: 630px;

  .circle {
    width: 400px;
    height: 400px;
  }
}

#scene19 {
  position: absolute;
  left: 80%;
  top: 200px;

  .circle {
    background-color: rgb(225, 225, 225);
    z-index: 5;
    width: 800px;
    height: 800px;
  }
}

#scene20 {
  position: absolute;
  left: 90%;
  top: 620px;

  .circle {
    z-index: 6;
    width: 100px;
    height: 100px;
  }
}

#scene21 {
  position: absolute;
  left: 10%;
  top: 800px;

  .circle {
    width: 80px;
    height: 80px;
  }
}

#scene22 {
  position: absolute;
  left: 30%;
  top: 1600px;

  .circle {
    width: 100px;
    height: 100px;
  }
}

#scene23 {
  position: absolute;
  left: 80%;
  top: 1250px;

  .circle {
    width: 200px;
    height: 200px;
  }
}

#scene24 {
  position: absolute;
  left: 68%;
  top: 1900px;

  .circle {
    width: 70px;
    height: 70px;
  }
}
